# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
dist-ssr/

# Local files
*.local

# Editor directories and files
.vscode/
.idea
.DS_Store
*.sw?

# Optional: Keep only these files for VSCode configuration
!.vscode/extensions.json
